.delivery {
  display: flex;
}


.rooms {
  width: 25%;
  height: auto;
  min-height: 100vh;
  overflow: auto;
  border: 1px solid red;
}

.chat {
  width: 50%;
  min-height: 100vh;
  border: 1px solid blue;
}

.user-list {
  width: 25%;
  min-height: 100vh;
  border: 1px solid green;
}
